h1{
  font-style: italic;
  font-size: 250%;
    color:black;
    text-align: center;
    
  }
body{
    background-color: black;
  }

ul {

    width: 70%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    
  }
  
  li {
    float: right;
    border-right: 1px solid;
  }

  li a{
    float: right;
    border-right: 1px;
  
  }
  
  li a {
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #333;
    

    
  }
  .square5 {
    background:rgb(32, 227, 32);
    flex-basis: 450px;
    width: 100px;
    height: 100px;
    display: flex;
    margin-top: 2%;
    border-radius: 20px;
    align-items: center;
    
  }
  .container{
    position: relative;
    display: flex;
    justify-content: right;

  }
  .why{
    display: block;
    background: url("../khams images/why.jpg");
    overflow: visible;
    padding: 20%;
    background-repeat: no-repeat;

  }